*{
    box-sizing: border-box;
  }
  #para1{
    text-align: center;
    font-size: 16px;
  }
  #para2{
    text-align: center;
    font-size: 10px;
  }
  .input{
    text-align: center;
  }
  #startingWord{
    text-align: center;
    margin: 10px;
  }
  #searchWithWord{
    text-align: center;
  }
  #Search{
    text-align: center;
    margin-left: 300px;
    width: 700px;
   /*margin-top: 100px;*/
    
  }
  #loopDiv2{
    width: 700px;
    text-align: center;
    margin-left: 300px;
    height: 40px;
    line-height: 40px;
  }
  #loopDiv{
    width: 700px;
    text-align: center;
    margin-left: 300px;
    height: 40px;
    line-height: 40px;
  }
  button{
    background-color: #F6FFCF;
  }
  #button1:hover,#button2:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}
#parag1{
  text-align: center;
  font-size: 15px;

}
#parag2{
  text-align: center;
  /*font-size: 15px;*/
}
#wrapperId{
  /*background-color: red;*/
}
#totalCountries{
  /*background-color: blue;*/
  font-size: 12px;
}


